
.container {
    width: 375px;
    height: 812px;
    /*position: absolute;*/
    margin: auto;
    background-color: #F7F7F7;
    background-image: url("../assets/7nt.png");
    background-size: 420px 435px;
    background-repeat: no-repeat;
    top: 0; left: 0; bottom: 0; right: 0;
}
.top{
    border-bottom: 1px solid rgba(30, 30, 30, 0.2);
}
.l-space-3{
    letter-spacing: 3px;
}
.dot {
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
  }
.nominal{
    height: 21px;
}
.saldo label:before {
  content: url("../assets/saldo_visible.png");
  object-fit: cover;
}
:checked+label:before {
  content: url("../assets/saldo_hidden.png");
  object-fit: cover;
}
.map-navigator{
    width: 330px;
    height: 80px;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.map-navigator .label-box{
    width: 220px;
    height: 70px;
    border-radius: 20px;
}
.br-20{
    border-radius: 20px;
}
.br-half{
    border-radius : 50%;
}
.bg-white{
    background-color: #FFFFFF;
}
.text-white{
    color: white;
}
.fitur img{
    width: 75px;
    height: 75px;
}
.font-16{
    font-size: 16px;
}
.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12px;
}
.bg-blue{
    background: #1279CC;
}
.border-white{
    border : 1px solid white;
}
.img-fit{
    max-height: 100%;
}
.fitur-child{
    width: 100px;
    height: 140px;
}
.title{
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 15px;
    /* identical to box height */
    color: #2C459E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.e-money .box{
    width: 160px;
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
    background-color : #FAFAFA;
}

.cash-flow{
    width: 340px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.cash-flow .big-box{
    border-radius: 20px;
    width: 340px;
    height: 124px;
    font-size: 13px;
    background-color: white;
}
.small-box{
    font-size: 12px;
    border-radius: 5px 5px 5px 5px;
}
.big-box .box{
    height: 62px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.bd-bottom{
    border-bottom: 2px solid rgba(30, 30, 30, 0.2);
}
.bd-right{
    border-right: 2px solid rgba(30, 30, 30, 0.2);;
}
.navbar-bottom{
    font-size: 13px;
}
.navbar-box-center{
    width: 60px;
    height: 60px;
}
.navbar-box-center img{
    max-width: 100%;
    height: auto;
}
.navbar-box-left{
    width: 155px;
    height: 75px;
    border-radius: 0px 50px 0px 30px;
}
.navbar-box-right{
    width: 155px;
    height: 75px;
    border-radius: 50px 0px 30px 0px;
}
.cash-flow .name{
    font-weight: 700;
}
.button{
    width: 260px;
    height: 60px;
    border-radius: 15px;
}