.container{
    width: 375px;
    height: 812px;
    padding: 0;
    background-color: #F7F7F7;
    /* border: 2px solid;
    border-color:#979797; */
}
.container-bg {
    width: 375px;
    height: 370px;
    position: absolute;
}

.bgNetworkError{
    width: 375px;
    height: 562px;
    position: absolute;
    margin-top: 250px;
}

.top-box{
    width: 375px;
    height: 500px;
}

h1.login{
    font-size: 24px;
    font-family:'Lucida Sans';
    font-weight: bold;
    position: absolute;
    margin-right: 95px;
    margin-left: 95px;
    margin-top: 190px;
    color: white;
}
h2.login{
    font-size: 18px;
    font-family:'Lucida Sans';
    font-weight: bold;
    margin-left: 30px;
    color: #345CEA;
    text-shadow: 2px 2px 5px #999;
}

h3.login{
    font-size: 12px;
    font-family:'Lucida Sans';
    font-weight: bold;
    margin-left: 150px;
    color: #345CEA;
    text-shadow: 0px 0px 1.5px #999;
}

h4.error{
    width: 375px;
    position: absolute;
    /* margin-right: 0px; */
    margin-top: 500px;
    font-size: 18px;
    text-align: center;
    font-family:'Lucida Sans';
    font-weight: bold;
    color: #345CEA;
    text-shadow: 2px 2px 5px #999;
}

h5.error{
    width: 375px;
    position: absolute;
    /* margin-right: 0px; */
    padding: 25px;
    margin-top: 570px;
    font-size: 13px;
    text-align: center;
    font-family:'Lucida Sans';
    /* font-weight: bold; */
    color: #000;
}


hr.line-top{
    width: 375px;
    border-top: 1px solid black;
    position: absolute;
}

.logoBri{
    width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 150px;
    margin-right: 150px;  
    margin-top: 100px;
}

.logoBri2{
    position: absolute;
    margin-left: 50px;
    margin-top: 230px;
}

.input-field .input{
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 40px;
    color: #979797;
    font-size: 15px;
    padding: 0 20px 0 45px;
    background: #fff;
    outline: none;
}

i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #979797;
}
::-webkit-input-placeholder{
    color: #979797;
}

.submit{
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    width: 83%;
    outline: none;
    color: #fff;
    background: #1279CC;
    cursor: pointer;
    transition: .3s ;
}
.submit:hover{
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.fingerprint{
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: 717px;
    margin-left: 300px;
}

.arrowback{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 7px;
    margin-left: 15px;
}

.errormessage{
    width: 375px;
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #DA3C3C;
    font-size: 12px;
    font-family:'Lucida Sans';
    text-align: center;
    color: #fff;
}

.networkError{
    position: absolute;
    margin-top: 300px;
    margin-left: 70px;
}