.container{
    width: 375px;
    height: 812px;
    padding: 0;
    background-color: #F7F7F7;
    border-radius: 30px;
}

/* Background */
.container-bg {
    width: 375px;
    height: 60px;
    border-radius: 30px 30px 0px 0px;
    position: absolute;
}

.up{
    position: absolute;
    margin-top: 500px;
    margin-left: 170px;
}

.arrowback{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
}

h1.lokasi{
    font-size: 20px;
    position: absolute;
    margin-right: 95px;
    margin-left: 120px;
    margin-top: 20px;
    color: white;
}

.bgLocation{
    position: relative;
    width: 353px;
    height: 69px;
    margin-left: 11px;
    margin-top: 9px;
}

.setting{
    position: absolute;
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-left: 310px;
}

/* Teks Location ATM */
h2.lokasi{
    position: absolute;
    font-size: 13px;
    margin-top: -56px;
    margin-left: 30px;
    color: black;
}

h3.lokasi{
    position: absolute;
    width: 375px;
    font-size: 12px;
    margin-top: -38px;
    margin-left: 30px;
    padding-right: 120px;
    color: #7B7B7B;
}

h4.lokasi{
    position: absolute;
    width: 375px;
    font-size: 13px;
    margin-top: -32px;
    margin-left: 307px;
    padding-right: 120px;
    color: #000;
}

.input-field .input{
    position: absolute;
    margin-top: 10px;
    margin-left: 11px;
    height: 46px;
    width: 353px;
    border: none;
    border-radius: 15px;
    color: #979797;
    font-size: 15px;
    padding: 0 45px 0 45px;
    background: #fff;
    outline: none;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

i{
    position: relative;
    top: 20px;
    left: 25px;
    color: #979797;
}
::-webkit-input-placeholder{
    color: #979797;
}

.letak-bgLocation{
    margin-top: 35px;
}

.arrowRight{
    position: absolute;
    margin-top: 30px;
    margin-left: -40px;
}